<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zl.wang.cn.com.wangmyapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/wang_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SplashAnoherActivity"/>

        <activity android:name=".MainActivity"/>

        <activity android:name=".view.activity.MyZxingActivity"/>

        <activity android:name=".view.activity.MyQRCodeActivity"/>

        <activity android:name=".view.activity.MyUCropActivity"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".view.activity.LikeActivity"/>

        <activity android:name=".view.activity.SlidingValidationActivity"/>

        <activity android:name=".view.activity.TimerShaftActivity"/>

        <activity android:name=".view.activity.PhotoViewActivity"/>

        <activity android:name=".view.activity.SlidingUpPanelActivity"/>

        <activity android:name=".view.activity.VideoActivity"/>
        <activity android:name=".view.activity.AdsorbActivity" />
        <activity android:name=".view.activity.DataBindingActivity" />
        <activity android:name=".view.activity.ChannelActivity" />
        <activity android:name=".view.activity.wangrxjava.WangRxjavaActivity" />
        <activity android:name=".view.activity.ViewActivity" />
        <activity android:name=".view.activity.WaterViewActivity" />
        <activity android:name=".view.activity.TextViewActivity" />
        <activity android:name=".view.activity.FlowLayoutActivity" />
        <activity android:name=".view.activity.FlowLayoutTwoActivity" />
        <activity android:name=".services.AndroidOPermissionActivity" />
        <activity android:name=".view.activity.ClickLocationActivity" />
        <activity android:name=".view.activity.DaggerTwoDemoActivity" />
        <activity android:name=".dagger2.another.b.BActivity" />
        <activity android:name=".dagger2.another.a.AActivity" />
        <activity android:name=".view.activity.MoveTextActivity" />
        <activity android:name=".view.activity.PageTurningActivity" />
        <activity android:name=".view.activity.RippleActivity" />
        <activity android:name=".view.activity.Together.TogetherActivity" />
        <activity android:name=".view.activity.wangrxjava.SelectionActivity" />
        <activity android:name=".view.activity.OperatorsActivity" />
        <activity android:name=".view.activity.wangrxjava.SimpleExampleActivity" />
        <activity android:name=".view.activity.GalleryProjectionActivity" />
        <activity android:name=".view.activity.LabelActivity" />
        <activity android:name=".view.activity.TagviewgroupActivity" />
        <activity android:name=".view.activity.tagview.TagEditActivity" />
        <activity android:name=".view.activity.tagview.TagListActivity" />
        <activity android:name=".view.activity.NavigationAnimationActivity" />
        <activity android:name=".view.activity.PullDownMenuActivity" />
        <activity android:name=".view.activity.PullDownMenuAnotherActivity" />
        <activity android:name=".view.activity.FaceRecognitionActivity" />

        <service android:name=".services.UpdateIntentService"
            android:exported="false"/>
        <provider
            android:authorities="zl.wang.cn.com.wangmyapp.FileProvider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath"/>
        </provider>

        <!-- Android 7.0 照片、APK下载保存路径-->
        <!--<provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="zl.wang.cn.com.wangmyapp.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>-->



    </application>

</manifest>